
.stat{
    color: #FFF;
    font-family: Inter;
    font-size: 74px;
    font-style: normal;
    font-weight: 800;
    line-height: 80px; /* 108.108% */
    margin-left: 40px;
    padding-top: 110px;
}

.tabbox{
    display: flex;
    width: 100%;
    gap: 16px;
}

.tab{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.botab{
    display: flex;
    flex-direction: column;
    width: 50%;
}


